page-login {
    .rounded {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 10px;  
    }
}

.login{
    background-image: linear-gradient( #fff8a1,#73c38c);
}
.imgLogin{
height:40vh !important;
width: auto !important;
}