page-login {
    .rounded {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 10px;  
    }
}

.login{
background: cadetblue;
}
.imgLogin{
height:60vh !important;
width: auto !important;
}