.principal{
    background: #e01a1a;
}
.leaves {
    animation: spin 3s infinite;
    height: 50vh;
    width: 50vw;
    
}




@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}